div {
	width: 450px;
	height: 450px;
    background-color: chartreuse;
    text-align: center;
    font-size: 2.3em;

    position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

#a-row {
    height: 50px;
    float:left;
    position: relative;
}

#b-row {
    height: 50px;
    float:left;
    position: relative;
}

#c-row {
    height: 50px;
    float:left;
    position: relative;
}

#d-row {
    height: 50px;
    float:left;
    position: relative;
}

#e-row {
    height: 50px;
    float:left;
    position: relative;
}

#f-row {
    height: 50px;
    float:left;
    position: relative;
}

#g-row {
    height: 50px;
    float:left;
    position: relative;
}

#h-row {
    height: 50px;
    float:left;
    position: relative;
}

#i-row {
    height: 50px;
    float:left;
    position: relative;
}

.board-tile {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
    border: .2px solid black;
}

/* #A0 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#A1 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#A2 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#A3 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#A4 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#A5 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#A6 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#A7 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#A8 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#B0 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#B1 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#B2 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#B3 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#B4 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#B5 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#B6 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#B7 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#B8 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#C0 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#C1 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#C2 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#C3 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#C4 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#C5 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#C6 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#C7 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#C8 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#D0 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#D1 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#D2 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#D3 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#D4 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#D5 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#D6 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#D7 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#D8 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#E0 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#E1 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#E2 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#E3 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#E4 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#E5 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#E6 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#E7 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#E8 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#F0 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#F1 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#F2 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#F3 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#F4 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#F5 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#F6 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#F7 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#F8 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#G0 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#G1 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#G2 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#G3 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#G4 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#G5 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#G6 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#G7 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#G8 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#H0 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#H1 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#H2 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#H3 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#H4 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#H5 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#H6 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#H7 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#H8 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#F0 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#I1 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#I2 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#I3 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#I4 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#I5 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#I6 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
}

#I7 {
    width:50px;
    height: 50px;
    background-color: black;
    float: left;
    position: relative;
}

#I8 {
    width:50px;
    height: 50px;
    background-color: white;
    float: left;
    position: relative;
} */