div {
	width: 300px;
	height: 300px;
    background-color: chartreuse;
    text-align: center;
    font-size: 2.3em;

    position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

#A0 {
    width:100px;
    height: 100px;
    background-color: black;
    float: left;
    position: relative;
}

#A1 {
    width:100px;
    height: 100px;
    background-color: white;
    float: left;
    position: relative;
}

#A2 {
    width:100px;
    height: 100px;
    background-color: black;
    float: left;
    position: relative;
}

#B0 {
    width:100px;
    height: 100px;
    background-color: white;
    float: left;
    position: relative;
}

#B1 {
    width:100px;
    height: 100px;
    background-color: black;
    float: left;
    position: relative;
}

#B2 {
    width:100px;
    height: 100px;
    background-color: white;
    float: left;
    position: relative;
}

#C0 {
    width:100px;
    height: 100px;
    background-color: black;
    float: left;
    position: relative;
}

#C1 {
    width:100px;
    height: 100px;
    background-color: white;
    float: left;
    position: relative;
}

#C2 {
    width:100px;
    height: 100px;
    background-color: black;
    float: left;
    position: relative;
}